<header>
  <nav class="navbar" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-header">
        <h3>Authors</h3>
    </div>
  </nav>
</header>

<%= render partial: 'list', locals: { authors: @authors } %>