<header>
  <nav class="navbar" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-header">
        <% if params[:search] %>
          <h3>Search Results</h3>
        <% else %>
          <h3>All Books</h3>
        <% end %>
    </div>
    <%= form_tag(books_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %>
      </div>
      <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
    <% end %>
  </div>
  </nav>
</header>

<%= render partial: 'list', locals: { books: @books } %>